name: 'bookwise'
version: '1.2'

services:
  postgres:
    image: postgres:latest
    container_name: bookwise_postgres
    environment:
      POSTGRES_DB: bookwise
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    container_name: bookwise_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./docker/ollama-entrypoint.sh:/entrypoint.sh
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    entrypoint: ["/entrypoint.sh"]
    restart: unless-stopped

volumes:
  postgres_data:
  ollama_data: